<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Belvis___Final_Lab_1.Properties.Settings.RegistrationFormDBConnectionString"
            connectionString="Data Source=BELVIS-DJ\SQLEXPRESS01;Initial Catalog=RegistrationFormDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>